- @title = "Home"

.jumbotron

.container
  .row
    .col-md-12
      %div.intro.text-center
        - if user_signed_in?
          -if user_has_contract?
            %h1 Your Contract
            %h3 I will do #{@contract.minutes_of_activity} minutes of exercise, #{@contract.times_per_week} times per week, for #{@contract.number_of_weeks} weeks, or pay a ForFit of £#{@contract.forfit_amount}

          -else
            = form_for @contract, url: contracts_path do |f|
              %h2
                I will do
                = f.number_field :minutes_of_activity, autofocus: true, :value => '30'
                minutes of exercise,
                = f.number_field :times_per_week, :value => '5'
                times per week, for
                = f.number_field :number_of_weeks, :value => '6'
                weeks,<br /> or pay a ForFit of £
                = f.number_field :forfit_amount, :value => '50'

              = javascript_include_tag "https://checkout.stripe.com/v2/checkout.js", 
                :class => "stripe-button", 
                :"data-key" => "#{Rails.configuration.stripe[:publishable_key]}", 
                :"data-label" => "Yes, I can do it!",
                :"data-panel-label" => "Commit to Fit",
                :"data-name" => "ForFit",
                :"data-description" => "Your card will not be charged now", 
                :"data-image" => ""
              
              %h6 You will only pay if you quit.
        -else
          %h1 Commit to Fit. Pay to Quit.
          %p
            = link_to image_tag("ConnectWithStrava.png"), omniauth_authorize_path(:user, 'strava')

.how-it-works.section
  .inner
    .how-it-works-close
      %span.glyphicon.glyphicon-remove
    .how-it-works-title
      %h4
        Set a fitness goal and back yourself with cash
    
    .how-it-works-section
      .icon-image.commit
      %h5.titleOrder Commit
      %span.content
        Set your fitness target.<br />
        Choose the amount to pay if you quit.

    .how-it-works-section
      .icon-image.get-fit
      %h5.titleOrder Get Fit
      %span.content
        Upload your activities to Strava<br />

    .how-it-works-section
      .icon-image.never-quit
      %h5.titleOrder Never Quit
      %span.content
        ForFit monitors your progress.<br />
        You only pay if you quit.

      
    
  
