= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-ok
      ForFit
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'How It Works', '', class: 'how-it-works-button'
      / = render partial: "application/account_dropdown"

      - if user_signed_in?
        = link_to 'Sign Out', destroy_user_session_path, :method=>:delete
